.App {
  text-align: center;
}

.App-header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/094/000/original/sushi.jpg?1692478010");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
  padding: 100px 0;
  margin-bottom: 20px;
  color: white;
}
